
/** Ionic CSS Variables **/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&amp;display=swap');
 * {font-family: 'Roboto', sans-serif !important;}
ion-content{ --ion-background-color:#f8feff; height: 100%;}
p{font-size: 12px; color: #4d5156; line-height: 20px;}
h6{color:#289fb3; font-family: 'Outfit', sans-serif; font-weight: 600;}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight:600;
	font-family: 'Outfit', sans-serif;
}
.headline-divider {display: block;position: relative;height: 3px;background-color: #289fb3;width: 50px;right: 0;margin-left: 0; margin-bottom: 10px;}
.white-box{position: relative; width: 100%; float:left; background-color: #fff; box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.16);border-radius: 10px; margin-bottom: 10px;}
.white-box .area-left img{outline: 2px solid #d5d5d5;outline-offset: 2px;}
// .admin-image{outline: 2px solid #d5d5d5;outline-offset: 2px;}
.swiper-pagination-bullets{bottom:0px!important; z-index: 9999!important;}
.display-none{display: none;}
.mar-top-100{margin-top: 100px;}
.bottom-btn{position: fixed; bottom:10%; left: 0;}
// ion-toolbar{--ion-background-color:#F5F5F5;}
ion-toolbar{--ion-background-color:linear-gradient(0deg, rgba(228,111,116,1) 0%, rgba(212,30,38,1) 100%);;}

textarea{min-height: 100px;}
// .searchbar-has-focus ion-icon{display: none;}

.custom-menu-style ion-item{border-bottom:1px solid #e1e1e1;font-size: 14px;}



.swiper-pagination-bullet {
  --bullet-background: #000!important;
  width: 10px;
  height: 10px;
  border-radius: 100%;

}
.swiper-pagination-bullet-active {
    width: 20px;
    height: 10px;
    border-radius: 100px;
   --bullet-background: rgb(212, 30, 38) 100%!important;
   --bullet-background-active:rgb(212, 30, 38) 100%!important;
}

.full-radious{--border-radius: 12px; --box-shadow: none!important; --background:rgb(212, 30, 38) 100%;font-weight: 500; font-size: 14px;}
.full-radious-gray{--border-radius: 12px; --box-shadow: none!important; --background:#a6a29b;font-weight: 500; font-size: 14px;}
.full-radious-small{--border-radius: 100px; --box-shadow: none!important; --background:#f96015;}
.full-radious-white{--border-radius: 100px; --box-shadow: none!important; --background:#f5f5f5; --color:#A1A3B5; font-weight: 300; text-transform: capitalize; font-size: 16px;}
.gloabal-input{--border-radius: 0px; --background: transparent; border-bottom:1px solid #ceeef4!important; box-shadow: none!important; margin-bottom: 5px; font-size:14px;}
.gloabal-input-chat{--border-radius: 70px; --background: #f5f5f5;  box-shadow: none!important; margin-bottom: 5px; font-size:14px; }
.no-box-shadow{--box-shadow: none!important;}
.my-custom-menu {--width: 500px;}
.calendar-bg{--background:#1d8a92; --color:#ffffff; }
.input-no-underline {color:#0a0a1d;--highlight-background: transparent;}
/* Use For Bottom Tab Active Color Change */
ion-tab-bar{border-radius: 5px;}
ion-tab-button {--color-selected:#fff;}
ion-tab-button {--background:#333333; --color:white;}
ion-tab-button ion-icon{font-size: 14px;}
ion-tab-button ion-label{font-size: 10px;}

ion-tab-bar{--border:none;}
.buttons-area{width: 74%; margin: 20px 13% 0 13%;}
// Reduce padding in input box
ion-item{--inner-padding-end: 0px;--padding-start:0px;}
// For Checkbox
ion-checkbox{
  --height: 35px;
  --width: 35px;
  --border-radius: 70px;
  --border-width: 3px;
}

// For Search Bar
ion-searchbar{--box-shadow: none!important; border-bottom:1px solid #ceeef4!important; border-radius: 0px!important; padding:0px 0!important;}
ion-searchbar ion-icon {right: 16px !important;left: auto !important;}
ion-searchbar .searchbar-input{padding-left: 16px!important; font-size: 14px!important;} 
.searchbar-input{border-radius: 25px!important;}

#header-shape-gradient {
  --color-stop: #f12c06;
  --color-bot: #faed34;
}
// =====================================================
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #d83138;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #d83138;
  --ion-color-success-tint: #d83138;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** medium **/
  --ion-color-medium: #red;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}


