<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Service Level
    </ion-title>
    <img src="../../assets/img/App_Icon.png" class="admin-image"
    style="position: absolute; top:6px; right:15px; box-shadow: none!important; height: 40px;" />
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size=6>
        <div class="white-box">
          <ion-card-header>
            <ion-card-subtitle class="ion-card-subtitle-header-footer">
              Overall - {{OverallData.Percentage}}%
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <canvas #pieChartCanvas1></canvas>
          </ion-card-content>      
          <ion-card-subtitle class="ion-card-subtitle-header-footer">
            Answered- {{OverallData.Answered}} <br>
            Offered &nbsp;&nbsp;&nbsp;&nbsp;: {{OverallData.Offered}}
          </ion-card-subtitle> 
           
        </div>
      </ion-col>

      <ion-col size=6>
        <div class="white-box">
          <ion-card-header>           
            <ion-card-subtitle class="ion-card-subtitle-header-footer">
              General- {{GeneralData.Percentage}}%
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <canvas #pieChartCanvas2></canvas>
          </ion-card-content>
          <ion-card-subtitle class="ion-card-subtitle-header-footer">
            Answered : {{GeneralData.Answered}}  <br>
            Offered &nbsp;&nbsp;&nbsp;&nbsp;:  {{GeneralData.Offered}}
          </ion-card-subtitle>
        </div>

      </ion-col>

    </ion-row>
  </ion-grid>



  <ion-grid>
    <ion-row class="ion-justify-content-center">
   
      <ion-col size=6>
        <div class="white-box">
          <ion-card-header>
            <ion-card-subtitle class="ion-card-subtitle-header-footer">
              Imperial- {{ImperialData.Percentage}}%
            </ion-card-subtitle>
           

          </ion-card-header>
          <ion-card-content>
            <canvas #pieChartCanvas3></canvas>
          </ion-card-content>

          <ion-card-subtitle class="ion-card-subtitle-header-footer">
            Answered : {{ImperialData.Answered}} <br>
            Offered &nbsp;&nbsp;&nbsp;&nbsp;:  {{ImperialData.Offered}}
          </ion-card-subtitle>
        </div>
      </ion-col>

      <ion-col size=6>
        <div class="white-box">
          <ion-card-header>
          
            <ion-card-subtitle class="ion-card-subtitle-header-footer">
              POM- {{POMData.Percentage}}%
            </ion-card-subtitle>
           
          </ion-card-header>
          <ion-card-content>
            <canvas #pieChartCanvas4></canvas>
          </ion-card-content>  
          
          <ion-card-subtitle class="ion-card-subtitle-header-footer">
            Connected : {{POMData.connected}}
            <br>
            Attempted : {{POMData.attempted}} 

          </ion-card-subtitle>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
<ion-grid>
  <div>
    <p>&nbsp;
    </p>
  </div>
</ion-grid>

</ion-content>


<ion-footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="ion-no-border">
      <ion-tab-button (click)="Home()">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button class="comments" (click)="Agents()">
        <ion-icon name="people"></ion-icon>
        <ion-label>Agents</ion-label>
      </ion-tab-button>

      

      <ion-tab-button class="notifs" (click)="ServiceLevel()">
        <ion-icon name="pie-chart"></ion-icon>
        <ion-label>Service Level</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="DailyStats()">
        <ion-icon name="stats-chart"></ion-icon>
        <ion-label>Daily Stats</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-footer>